body{
    align-items: center;
}
canvas{
    background-color: black;
}
h1{
    margin-block-start: 0;
    font-size: 32px;
}


.background-main {
    background-image: 
        linear-gradient(to bottom, rgba(255, 165, 0, 0.5), rgba(0, 0, 0, 0.7)), 
        url('img/5_background/complete_background.png'); 
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-blend-mode: overlay; 
    opacity: 1; 
    border-radius: 8px;
}

.teaser-class{
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    width:720px;
    height:480px;
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.steering_section {
    max-width: 720px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 8px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#steeringSection1,
#steeringSection2 {
    flex: 0; /* Verhindert Ausdehnung */
}

.mute-section {
    flex: 1; /* Nimmt den restlichen Platz ein */
    display: flex;
    justify-content: center; /* Zentriert den Mute-Button */
    align-items: center;
}

.steering_section {
    max-width: 720px;
    width: 100%;
    position: fixed; 
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000;
    padding: 8px;
    border-radius: 8px 8px 0 0; /* Optional: Abgerundete Ecken */
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

@media screen and (orientation: landscape) and (max-width: 768px) {
    .steering_section {
        height: auto; /* Passt die Höhe dynamisch an */
    }
    .teaser-text{
        display: none;
    }
    
}
.info-section{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100vw;
    height:100vh;
    top: 0;
}

.info-card{
    width:400px;
    height:200px;
    background-color: beige;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    overflow-y: auto; /* Aktiviert vertikalen Scrollbalken */
    overflow-x: hidden; /* Verhindert horizontalen Scrollbalken */
}
.info-card:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; 
}

.info-card::-webkit-scrollbar {
    display: none; /* Versteckt den Scrollbalken */
}
.close-button{
    position: absolute;
    right: 0;
    top: 0;
    margin: 16px;
    border-radius: 50%;
}
.mute-button{
    width:64px;
    height:64px; 
    border-radius: 50%;
}
.mute-button:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; 
}

.info-button{
    border-radius: 50%;
    margin-top: 16px;
    width:64px;
    height:64px;
}
.info-button:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; 
}
.game-button{
    border-radius: 50%;
    margin:8px;
    }
.close-button:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; 
}

.game-button:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;  
}
.win-section{
    position: absolute;
}

.win-img {
    display: block;
    opacity: 0;
    transition: opacity 2s ease-in-out; 
}

.win-img.visible {
    opacity: 1;
}

.gameOver-section{
    position: absolute;
    z-index: 1;
}

.gameover-button{
    position: absolute;
    z-index: 2;
}

.orientation-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 1.5em;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .teaser-class {
        background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
        width: 90vw; 
        height: calc(90vw * 0.6667); 
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 8px;
    }
}