.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-end{
    justify-content: flex-end;
}
.jtf-center{
    justify-content: center;
}
.align-bottom{
    align-items:flex-end;
}
.space-btw{
    justify-content: space-between;
}
.d-none{
    display: none;
}
.text-ctr{
    text-align: center;
}
.align-items{
    align-items: center;
}
.margin-0{
    margin: 0px;
}
.btn-me{
    border:none;
    border-radius: 8px;
    background-color: rgb(214, 213, 171);
    padding:16px;
}
.pointer{
    cursor: pointer;
}
.btn-me:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}
.transition:hover{
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; 
}
.img-64{
    width: 64px;
    height:64px;
}
.margRight-8{
    margin-right: 8px;
}
.margLeft-8{
    margin-left: 8px;
}
.throwButton{
    padding:7px;
}
.margTop-48{
    margin-top: 48px;
}
.margBottm-48{
    margin-bottom: 48px;
}
.img-32{
    width: 32px;
    height:32px;
}