.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.jtf-center{
    justify-content: center;
}
.space-btw{
    justify-content: space-between;
}
.d-none{
    display: none;
}
.text-ctr{
    text-align: center;
}
.margin-0{
    margin: 0px;
}
.btn{
    border:none;
    border-radius: 8px;
    background-color: rgb(214, 213, 171);
    padding:16px;
}
.pointer{
    cursor: pointer;
}
.btn:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}
.img-64{
    width: 64px;
    height:64px;
}
